In [1]:
import pandas as pd

In [20]:
df = pd.read_csv("LLCP2022.csv")

In [3]:
df

,General Health,Checkup,Skin Cancer,Other Cancer,Depression,Diabetes,Smoking History,Alcohol Consumption,Exercise,Heart Disease,Arthritis,Sex,Age,Height (cm),Weight (g),_BMI5,BMI
0,Very Good,Within the past year,No,No,No,Yes,No,-1,No,No,No,Female,80+,NaN,0,NaN,NaN
1,Excellent,NaN,Yes,Yes,No,No,No,-1,No,No,No,Female,80+,160.0,6804,2657.0,26.57
2,Very Good,Within the past year,Yes,No,No,No,No,-1,Yes,No,No,Female,55 to 59,157.0,6350,2561.0,25.61
3,Excellent,Within the past year,No,No,No,No,Yes,-1,Yes,No,Yes,Female,NaN,165.0,6350,2330.0,23.30
4,Fair,Within the past year,No,No,No,No,No,3,Yes,No,No,Female,40 to 44,157.0,5398,2177.0,21.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445127,Good,Within the past 2 years,No,No,Yes,No,No,-1,Yes,No,No,Female,18 to 24,165.0,6985,2563.0,25.63
445128,Excellent,Within the past year,No,No,No,No,No,-1,Yes,No,No,Female,50 to 54,170.0,8301,2866.0,28.66
445129,Poor,5 or more years ago,No,No,No,No,Yes,-1,No,No,No,Female,65 to 69,170.0,4990,1723.0,17.23
445130,Very Good,Within the past year,No,No,No,No,No,-1,No,Yes,No,Male,70 to 74,183.0,10886,3255.0,32.55
445131,Very Good,NaN,No,No,No,No,Yes,15,Yes,No,No,Male,40 to 44,168.0,6350,2260.0,22.60

In [4]:
df["Checkup"]

0            Within the past year
1                             NaN
2            Within the past year
3            Within the past year
4            Within the past year
                   ...
445127    Within the past 2 years
445128       Within the past year
445129        5 or more years ago
445130       Within the past year
445131                        NaN
Name: Checkup, Length: 445132, dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445132 entries, 0 to 445131
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   General Health       443934 non-null  object
 1   Checkup              436824 non-null  object
 2   Skin Cancer          441989 non-null  object
 3   Other Cancer         442711 non-null  object
 4   Depression           442320 non-null  object
 5   Diabetes             444045 non-null  object
 6   Smoking History      410172 non-null  object
 7   Alcohol Consumption  445132 non-null  int64
 8   Exercise             444039 non-null  object
 9   Heart Disease        440111 non-null  object
 10  Arthritis            442499 non-null  object
 11  Sex                  445132 non-null  object
 12  Age                  436053 non-null  object
 13  Height (cm)          416480 non-null  float64
 14  Weight (g)           445132 non-null  int64
 15  _BMI5                396326 non-null  float64
 16  BMI                  396326 non-null  float64
dtypes: float64(3), int64(2), object(12)
memory usage: 57.7+ MB

In [15]:
def uniqueValues(col):
    return list(df[col].unique())

for col in df.select_dtypes('object').columns:
    print(f'{col}\n{uniqueValues(col)}\n')

General Health
['Excellent', 'Very Good', 'Fair', 'Poor', 'Good', nan]

Checkup
[nan, 'Within the past year', 'Within the past 2 years', 'Within the past 5 years', '5 or more years ago']

Skin Cancer
['Yes', 'No', nan]

Other Cancer
['Yes', 'No', nan]

Depression
['No', 'Yes', nan]

Diabetes
['No', 'Yes', 'No, prediabetes or\r\nborderline\r\ndiabetes', nan, 'Yes, but\r\nfemale told\r\nonly during\r\npregnancy']

Smoking History
['No', 'Yes', nan]

Exercise
['No', 'Yes', nan]

Heart Disease
['No', 'Yes', nan]

Arthritis
['No', 'Yes', nan]

Sex
['Female', 'Male']

Age
['80+', '55 to 59', nan, '40 to 44', '70 to 74', '65 to 69', '60 to 64', '75 to 79', '50 to 54', '45 to 49', '35 to 39', '30 to 34', '25 to 29', '18 to 24']

In [24]:
# Drop null values from all columns
df.dropna(subset=["General Health"], inplace=True)
df.dropna(subset=["Checkup"], inplace=True)
df.dropna(subset=["Skin Cancer"], inplace=True)
df.dropna(subset=["Other Cancer"], inplace=True)
df.dropna(subset=["Depression"], inplace=True)
df.dropna(subset=["Diabetes"], inplace=True)
df.dropna(subset=["Smoking History"], inplace=True)
df.dropna(subset=["Exercise"], inplace=True)
df.dropna(subset=["Heart Disease"], inplace=True)
df.dropna(subset=["Arthritis"], inplace=True)
df.dropna(subset=["Age"], inplace=True)
df.dropna(subset=["Height (cm)"], inplace=True)
df.dropna(subset=["Weight (g)"], inplace=True)
df.dropna(subset=["BMI"], inplace=True)

#Drop _BMI5 as it is redundant
df.drop('_BMI5', axis=1, inplace=True)

KeyError: "['_BMI5'] not found in axis"

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 359942 entries, 2 to 445130
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   General Health       359942 non-null  object
 1   Checkup              359942 non-null  object
 2   Skin Cancer          359942 non-null  object
 3   Other Cancer         359942 non-null  object
 4   Depression           359942 non-null  object
 5   Diabetes             359942 non-null  object
 6   Smoking History      359942 non-null  object
 7   Alcohol Consumption  359942 non-null  int64
 8   Exercise             359942 non-null  object
 9   Heart Disease        359942 non-null  object
 10  Arthritis            359942 non-null  object
 11  Sex                  359942 non-null  object
 12  Age                  359942 non-null  object
 13  Height (cm)          359942 non-null  float64
 14  Weight (g)           359942 non-null  int64
 15  BMI                  359942 non-null  float64
dtypes: float64(2), int64(2), object(12)
memory usage: 46.7+ MB

In [26]:
df

,General Health,Checkup,Skin Cancer,Other Cancer,Depression,Diabetes,Smoking History,Alcohol Consumption,Exercise,Heart Disease,Arthritis,Sex,Age,Height (cm),Weight (g),BMI
2,Very Good,Within the past year,Yes,No,No,No,No,-1,Yes,No,No,Female,55 to 59,157.0,6350,25.61
4,Fair,Within the past year,No,No,No,No,No,3,Yes,No,No,Female,40 to 44,157.0,5398,21.77
5,Poor,Within the past year,No,No,No,Yes,No,-1,No,Yes,No,Male,80+,180.0,8482,26.08
6,Very Good,Within the past year,No,No,No,No,Yes,5,Yes,No,No,Female,80+,165.0,6260,22.96
7,Good,Within the past year,No,Yes,No,No,No,-1,No,No,Yes,Female,80+,163.0,7348,27.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445126,Good,Within the past 2 years,No,No,No,No,No,2,Yes,No,No,Male,30 to 34,183.0,10433,31.19
445127,Good,Within the past 2 years,No,No,Yes,No,No,-1,Yes,No,No,Female,18 to 24,165.0,6985,25.63
445128,Excellent,Within the past year,No,No,No,No,No,-1,Yes,No,No,Female,50 to 54,170.0,8301,28.66
445129,Poor,5 or more years ago,No,No,No,No,Yes,-1,No,No,No,Female,65 to 69,170.0,4990,17.23
445130,Very Good,Within the past year,No,No,No,No,No,-1,No,Yes,No,Male,70 to 74,183.0,10886,32.55

In [27]:
df.to_csv('cleaned.csv', index=False)